/*General*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: 'Varela Round',sans-serif;
}
h1,h2,h3,h4{
font-family:'Montserrat', sans-serif;
 }
 a {
     text-decoration: none;
 }
 .pd-y{
  padding:120px 0;
 }
 /*Header*/
.header{
    width:100%;
    position: fixed;
    z-index:10;
    background-color:#fff;
    }
    .Container{
        width: 90%;
        margin:auto;
    }
      .header .Logo{
          width: 48%;
          float: left;
         }
         .header .Logo img {
            width: 18%;
            margin-top: 14px;
             }
      .header .navbar{
          width: 52%;
          float: left;
          list-style-type: none;
      }
      .header .navbar > li {
          display: inline-block;
      }
      .header .navbar >li> a {
           color:black;
          display: block;
          padding: 23px 14px;
          font-size:14px;
      }
      .header .navbar > li >a.active:after,.header .navbar >li > a:after{
        content:"";
        background-color:#6195ff;
        height: 3px;
        display: block;
        transition: 0.5s;
      }
    
       .header .navbar >li> a:after{
           width: 0;
       }
    .header .navbar > li a:hover:after{
        width: 100%;
    }
      .drobdownlist{
          position: relative;
      }
      .dropdownlist-menu{
          position: absolute;
         
          list-style:none;
          padding: 12px 13px;
          top:52px;
          left: -50px;
          visibility: hidden;
          opacity: 0;
    transition: opacity 0.5s, visibility 0.5s ;
    
      }
      .dropdownlist-menu a {
          text-decoration: none;
          font-size:16px;
          color:#fff;
          cursor: pointer;
          background-color: #6195ff;
         display: block;
         width: 190px;
         padding: 12px 13px;
      }
      .drobdownlist:hover .dropdownlist-menu{
          visibility: visible;
          opacity: 1;
         
      }

/*wraber*/
.wraber-containar{
    overflow: hidden;
    padding:60px 0;
   
}
.wraber-items{
    padding: 70px 0;
}
.wraber-items h2{
    font-size: 36px;
    width:55%;
     float: left;
     color:#10161a;
}
.wraber-list{
   padding: 8px 15px;
    list-style: none;
    width: 40%;
    float: left;
    padding:5px 0 0 251px;
  }
.wraber-list li+:before {
content:"/";
padding-right: 10px;

}

.wraber-list li{
    display: inline-block;
}
.wraber-list li a {
    text-transform: capitalize;
    list-style: none;
    color:#6195ff;
}
.active {
    color:#868F9B;
}

/* Blog sction */
.section-site {
    overflow: hidden;
}
.Container-blog{
    width: 70%;
    float: left;
    }
  
    .blog-img img{
        background-color: yellow;
        width: 100%;
    }
     
    .blog-list{
        list-style-type: none
    }
    .blog-info {
        padding:20px 20px 40px;
    }
    .blog-list li {
        display: inline-block;
        margin:0 10px 20px 0;
        font-size:14px;
        color:#10161A;
        text-transform: capitalize;
        margin-right: 10px;
    }
    .blog-list li i{
        color: #6195ff;
    }
    .blog-title{
        margin-bottom: 20px;
        font-size:21px;
    }
    .blog-desc{
        font-size:16px;
        color:#868F9B;
        line-height:1.6;
        margin-bottom:10px;
    }
.blog-tags{
    text-transform: capitalize;
    
}
.blog-tags h5{
    font-size: 16px;
    font-weight: 700;;
}
.blog-tags a {
    display: inline-block;
    padding: 6px 13px;
    font-size: 14px;
    margin: 2px 0px;
    background: #F4F4F4;
    color: #10161A;
    
}
.blog-tags i {
    margin-right: 3px;
    color: #6195FF;
    
}

.blog-links {
    margin: -24px 0 0 44px
}
.blog-tags a:hover{
    background-color:#6195ff;
    color:#fff;
}
.blog-tags a:hover i{
color: #fff;

}

/* media body */
.media-body{
    overflow: hidden;
    padding: 60px 0;
}
.media-img {
    width: 20%;
    float:left;
}
.media-img img {
    width: 100%;
}
.media-desc {
    width: 600px;
    float: left;
    margin:0 0 0 20px;

    position: relative;
}
.jocial-links{
   position: absolute;
   right: 0;
   top: 0;
  
}
.jocial-links a {
    color: #fff;
    background-color: #6195FF;
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
}
.media-desc h3 {
    font-size: 21px;
    color:#10161A;
    text-transform: uppercase;
}
.media-desc p {
    margin-top:20px;
    color:#868F9B;
    font-size:16px;
    line-height: 1.6;
}

/* Blog-comment */
.comment-Container{
    text-align: left;
    margin-bottom: 20px;
       }

       .comment-Title{
           text-transform: capitalize;
           color: #10161a;
           font-size: 21px;
       }
       .comment-Container .Line{
           content: "";
           background-color:#6195ff;
           width: 41px;
           height:4px;
           display: block;
           margin: left;
          margin-top:18px;
       }
       .comment-body{
           overflow: hidden;
           padding:20px ;
       }
       .comment-img{
           width: 70px;
           height: 70px;
           float: left;
       }
       .comment-img img {
           width: 100%;
           height: 100%;
       }
       .comment-desc {
           width: 600px;
           float: left;
           margin:0 0 0 20px;
       }
       .comment-desc h4 {
           font-size:18px;
           color:#10161a;
           text-transform:capitalize;
           margin-bottom: 10px;
       }
       .comment-desc a{
           float: right;
           color: #6195FF;
           text-transform: uppercase;
           font-size:12px
       }
       .comment-desc span {
           margin:0 0 0 20px;
           color: #868F9B;
           font-size:12px;
           font-weight: 400;
           text-transform: uppercase;
       }

       .comment-desc p {
           color:#868F9B;
           font-size:16px;
           margin-bottom: 10px;
           line-height: 1.6;
       }

     .commentcc{
         padding: 20px;
         background-color: #fff;
         border: 1px solid #EEE;
         margin-bottom: 30px;
     }
.comment-body.active {
    border: 2px solid #6195FF;
    
}

.form-items{
    width: 65%;
    }
    
input[ type="text"]{
    height: 40px;
    border: none;
    background: #F4F4F4;
      padding: 0px 10px;
      width: 340px;
    font-size:16px;
    margin-bottom: 20px;
    color: #868f9b;
}
.form-items .object{
    width:800px;
    margin-top:15px 0 15px;
}
textarea{
    width:800px;
   min-height:80px;
   padding: 10px 10px;
   font-size:16px;
   
}
.btn-send{
    margin-top: 40px;
    text-align: left;
    
    }
.btn-send button {
    background: #6195FF;
    color: #FFF;
    padding: 10px 35px;
   
    border: 2px solid transparent;
    border-radius: 3px;
    cursor: pointer;
}
.name-email {
    position: relative;
}
.email {
       position: absolute;    
       top: 0;
      
       right: -155;
}


/* Footer */
.footer{
    background-color:#1c1d21;
    padding:60px 0;
    text-align:center;
    margin-top: 60px;
    }

.footer-social{
    list-style: none;
    margin: 40px 0 20px 0;
}
.footer-social li {
    display: inline-block;
}
.footer-social li a{
    display:block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color:#6195ff;
    border-radius: 3px;
    color: #fff;
}
 .footer-copyri{
    color:#868f9b;
    font-size: 14px;
    text-transform: uppercase;
}
.footer-copyri span{
    font-size:14px;
    color:#6195ff;
}
.back{
    width: 150px;
height: 150px;
background-color: #6195ff;
z-index: 2;
}

/*eside-blog*/
.Eside-blog {
    width:314px;
    float:left;
    margin-left: 25px;
   
}

.widget-search{
    position: relative;
    margin-bottom: 40px;
}
.plog-catagory{
    margin-bottom: 40px;
}
.search-button{
    position: absolute;
    right: 0;
    bottom: 20;
    width: 40px;
    height: 40px;
    border: none;
    line-height: 40px;
    color: #6195ff;
    cursor: pointer;
    background:transparent;
}
.widget-search .search-input {
        height: 40px;
   border: none;
    padding: 0px 10px;
    width: 100%;
    font-size:16px;
    margin-bottom: 20px;
    color: #868f9b;
    font-size:14px;
}

/* catagory-items */
.catagory-items a {
    display: block;
    font-size: 14px;
    color: #354052;
    border-bottom: 1px solid #eee;
    padding: 8px;
}
.catagory-items span {
float: right;
    color: #6195FF;
    
}
.catagory-items a:hover {
    color: #6195FF;
}

/* POPULARE POSTS */
.populare-items {
    margin-top:25px;
    position: relative;
}
.populare-items img {
    width: 85px;
    height: 60px;
    
}
.populare-items span {
    position: absolute;
  top: 0;
  left: 98px;
}
.populare-items a {
    color:#10161A
}
.populare-items a:hover {
color: #6195FF;
}
.populare-items h5{
    position: absolute;
    top: 30px;
    left: 98px;
    color: #6195FF;
    font-size: 12px;
}


    /* Tags Secxtion */
    .tags-link  {
        margin-top: 25px;
          }
    .tags-link a {
       
        display: inline-block;
        padding: 6px 13px;
        font-size: 14px;
        margin: 2px 0px;
        background: #F4F4F4;
        color: #10161A;
        
    }
    .tags-link a:hover {
background-color: #6195ff;
color: #EEE;

    }
    